version: '3.8'
services:
  clean-cast:
    build: .
    #image:
    container_name: clean-cast
    ports:
      - "8080:8080"
    environment:
      - CRON=0 0 * * 0
      - SPONSORBLOCK_CATEGORIES=sponsor
      - COOKIES_FILE=<FILENAME>
    volumes:
      - /DL PATH>:/config